
.thick0, .thick1{
    width: 0;
    height: 0;
}

.hthick0, .mthick0, .sthick0{
    border-color: #CDCDCD;
}
.hthick1{
    border-color: royalblue;
}
.mthick1{
    border-color: dodgerblue;
}
.sthick1{
    border-color: red;
}

.hours{
    border-style: solid;
    border-bottom-width: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top-width: 120px;
    float: left;
    margin:0 30px;
}
.mins{
    border-style: solid;
    border-bottom-width: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top-width: 80px;
    float: left;
    margin:-70px 24px 0 30px;
}
.secs{
    border-style: solid;
    border-bottom-width: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top-width: 40px;
    float: left;
    margin:-38px 40px 0 36px;
}

#hour{
    width: 380px;
    height: 120px;
    margin: 60px auto 0px;
}

li.hours:nth-child(1){
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
li.hours:nth-child(2){
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
li.hours:nth-child(3){
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
li.hours:nth-child(4){
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
li.hours:nth-child(5){
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}


#min{
    width: 380px;
    height: 80px;
    margin: 0px auto 0;
}

#sec{
    width: 480px;
    height: 40px;
    margin: -70px auto 0;
}

li.mins:nth-child(1){
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

li.mins:nth-child(2){
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

li.mins:nth-child(3){
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

li.mins:nth-child(4){
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

li.mins:nth-child(5){
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

li.mins:nth-child(6){
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}




li.secs:nth-child(1){
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

li.secs:nth-child(2){
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

li.secs:nth-child(3){
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

li.secs:nth-child(4){
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

li.secs:nth-child(5){
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

li.secs:nth-child(6){
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}


